
.carrito {
  font-size: 70px;
  margin-left: 1200px;
  margin-top: -80px; 
}

h6 {
  background-color: tomato;
  color: white;
  border-radius: 50px;
  padding: 5px;
  display: inline;
  position:absolute;
  top: -30px;
}